:host ::ng-deep  .p-frozen-column {
    font-weight: bold;
}
:host ::ng-deep .p-datatable-frozen-tbody {
    font-weight: bold;
}
.frozen-col{ 
    font-weight: bold; 
}
.p-menubar {
    padding: 0.5rem;
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    /* z-index: 99; */
    width: 113px !important;
}

// card css
.minHeight{
    min-height: 47px;
}

